<div class="">

    <div class="row">

        <div class="col-md-8">

            <div class="bg-white rounded" style="border: solid 1px white;border-radius: 10px">
                <p style="background-color: white;;width: 100%;" class="p-3">
                    Activité de vente
                </p>
                <hr class="mx-3" style="color: dodgerblue;">
                <div class="row px-1">
                    <div class="ctn col-sm-3 p-2">
                        <div class="text-center p-1">
                            <p class="text-info h5">{{som}}</p>
                            <p> <fa-icon [icon]="faCircleCheck" style="color: blueviolet;"></fa-icon>&nbsp;&nbsp; À
                                EMBALLER</p>
                        </div>
                    </div>
                    <div class="ctn col-sm-3 p-2">
                        <div class="text-center p-1">
                            <p class="text-danger h5">100</p>
                            <p> <fa-icon [icon]="faCube" style="color: blueviolet;"></fa-icon>&nbsp;&nbsp; À EXPÉDIER
                            </p>
                        </div>
                    </div>
                    <div class="ctn col-sm-3 p-2">
                        <div class="text-center p-1">
                            <p class="text-success h5">345</p>
                            <p>
                                <fa-icon [icon]="faEllipsis" style="color: blueviolet;"></fa-icon>&nbsp;&nbsp; À LIVRER
                            </p>
                        </div>
                    </div>
                    <div class="ctn col-sm-3 p-2">
                        <div class="text-center p-1">
                            <p style="color: goldenrod;" class="h5">45</p>
                            <p>
                                <fa-icon [icon]="faFile" style="color:blueviolet;"></fa-icon>&nbsp;&nbsp; À FACTURER
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">

            <div class="pb-2 bg-white rounded" style="border: solid 1px white;border-radius: 10px;border-radius: 10px;">
                <p style="background-color: white;" class="p-3">
                    Résumé de l'inventaire </p>
                <hr class="mx-3" style="color: dodgerblue;">
                <div class="div-resume py-2 px-2 mt-4">

                    <div class="d-flex justify-content-between px-1">
                        <p>QUANTITÉ DISPONIBLE</p>
                        <p>1234</p>
                    </div>

                    <div class="d-flex justify-content-between px-1">
                        <p>QUANTITÉ À RECEVOIR</p>
                        <p>1234</p>
                    </div>
                </div>

            </div>

        </div>

    </div>



</div>