.ctn div {
    height: 100px;
    border-left: solid 1px whitesmoke;
    border-radius: 5px;
    transition: ease 1s;
}

.div-resume {
    background-color: white;
    border: solid 1px white;
    border-radius: 5px;
    height: 100px;
}