<div>



    <p-toast></p-toast>
    <div class="d-flex justify-content-between bg-white p-2 rounded border">
        <h6 class="px-1 mt-2">Articles</h6>
        <p-button [text]="true" [raised]="false" [routerLink]="['/dashboard/article/articlenouveau']"><i
                class="pi pi-plus-circle"></i>&nbsp;Nouveau</p-button>
    </div>

    <br>

    <p-card *ngIf="articles?.length>0">

        <p-table [value]="articles" [(selection)]="selectedArticles" dataKey="id" [paginator]="true" [rows]="5"
            [selectionPageOnly]="false" [tableStyle]="{'min-width': '50rem'}" [rowHover]="true">

            <ng-template pTemplate="header">
                <tr class="bg-light">
                    <th style="width: 4rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <td class="w-25">Nom</td>
                    <td class="w-25">Reference</td>
                    <td class="w-25">Stock Disponible</td>
                    <td class="w-25">Niveau de réapprovisionnement</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-article>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="article"></p-tableCheckbox>
                    </td>
                    <td (click)="onOneRowSelected(article.id)" *ngIf="article.imagePath"><app-image
                            [fileName]="article.imagePath" [width]="'40px'" [height]="'40px'"></app-image>
                        &nbsp;&nbsp;&nbsp; {{article.articleName}}</td>
                    <td (click)="onOneRowSelected(article.id)" *ngIf="!article.imagePath"><img
                            style="width:40px;height: 40px;border-radius:5px;" src="./assets/au-image.jpg" alt="">
                        &nbsp;&nbsp;&nbsp; {{article.articleName}}</td>
                    <td (click)="onOneRowSelected(article.id)">{{article.sku}}</td>
                    <td (click)="onOneRowSelected(article.id)">
                        {{article.articleStockInf!=undefined?article.articleStockInf.stockOuverture:''}}</td>
                    <td (click)="onOneRowSelected(article.id)">
                        {{article.articleStockInf!=undefined?article.articleStockInf.seuil:''}}</td>

                </tr>
            </ng-template>
        </p-table>

    </p-card>

     <app-loading-indicator [items]="articles" ></app-loading-indicator>


</div>