<div>

    <div class="d-flex justify-content-between bg-white p-2 rounded border m-0">
        <h6 class="px-1 mt-2">Groupes d'articles</h6>
        <p-button [text]="true" [raised]="false" [routerLink]="['/dashboard/articlegroup/nouveaugroup']"><i
                class="pi pi-plus-circle"></i>&nbsp;Nouveau</p-button>
    </div>

    <br>

    <p-card *ngIf="ArticlesGroups?.length>0">

        <p-table [value]="ArticlesGroups" [(selection)]="selectedGroups" dataKey="id" [paginator]="true" [rows]="5"
            [selectionPageOnly]="false" [tableStyle]="{'min-width': '50rem'}" [rowHover]="true">

            <ng-template pTemplate="header">
                <tr class="bg-light">
                    <th style="width: 4rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <td class="w-25">Nom</td>
                    <td class="w-25">description</td>
                    <td class="w-25">Stock Disponible</td>
                    <td class="w-25">Niveau de réapprovisionnement</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-group>
                <tr>
                    <td>

                        <p-tableCheckbox [value]="group"></p-tableCheckbox>

                    </td>

                    <td (click)="onOneRowSelected(group.id)" *ngIf="group.imagePath">
                        <app-image [fileName]="group.imagePath" [width]="'40px'" [height]="'40px'">
                        </app-image>
                        &nbsp;&nbsp;&nbsp; {{group.groupName}}
                    </td>

                    <td (click)="onOneRowSelected(group.id)" *ngIf="!group.imagePath"><img
                            style="width:40px;height: 40px;border-radius:5px;" src="./assets/au-image.jpg" alt="">
                        &nbsp;&nbsp;&nbsp; {{group.groupName}}</td>
                    <td (click)="onOneRowSelected(group.id)">{{group.description}}</td>
                    <td (click)="onOneRowSelected(group.id)" *ngIf="group.stockDisp">
                        {{group.stockDisp}}
                    </td>
                    <td (click)="onOneRowSelected(group.id)">
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </p-card>

    <app-loading-indicator [items]="ArticlesGroups" ></app-loading-indicator>
</div>