.image-container{
    position: relative;
    /* background-color: ; */
    border-radius:10px;
    height: 250px !important;
    /* width: 100% !important; */
    border: dotted 4px white;
}

.file{
   position: absolute;
   top: 0 !important;
   left: 0 !important;
   right: 0 !important;
   bottom: 0px !important;
   opacity: 0;
}