<div class="card">
    <div class="main_container">

            <div class="title main_container_first">
                Gestion de stock
            </div>

        <div class="d-flex align-items-center justify-content-between w-100  px-2">
            <div>
                <button #toggleBtn class="topbar-btn" (click)="toggleList()"><span
                        class="pi pi-align-justify"></span></button>
            </div>

            <div class="main_container_first">
                <div class="me-3">
                    <button class="topbar-btn" (click)="toggleList()"> <span class="pi pi-cog"></span></button>
                </div>
                <div>
                    <button #profileBtn class="topbar-btn" (click)="toggleUser()"> <span
                            class="pi pi-user"></span></button>
                </div>
            </div>

        </div>

    </div>
</div>