.loader-container{
    width: 100vw !important;
    height: 100vh !important;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: #3f3d3d;
    opacity: .6;
    display: flex;
    justify-content: center;
    align-items: center;
    color:red;
  }